{% extends 'auth_user/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'client/css/client.css'%}">
{% endblock %}
{% block title%} добавить клиента {% endblock %}
{% block content %}
<div class="client">

    <span class="line"></span>
    <a class="btn_add_group" href="{% url 'all_clients' %}">назад</a>
    <form class="product__group_form" method="post" action="#">
        {% csrf_token%}
        {{form.as_p}}
        {% if form.error %}
        {{form.error}}
        {% endif %}
        <input type="submit" value="создать" name="client" class="form__btn_action">
    </form>
</div>


{% endblock %}