{% extends 'auth_user/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'client/css/client.css'%}">
{% endblock %}
{% block title%} мои клиенты {% endblock %}
{% block content %}
<div class="client">
    <h1 class="main_title">Клиенты</h1>
    <a class="btn_add_group js_add_group hvr-grow-shadow" href="{% url 'add_client' %}">добавить клиента</a>
    <span class="line"></span>

    {% if clients %}
    {% if request.user.profile.position == 'DR' or request.user.profile.position == 'MP'%}
    <h1 class="main_title">все клиетны</h1>
    <table class="client__list"  cellpadding="7" cellspacing="7">
        <tr bgcolor='#b3ffe5'>
            <td>менеджер</td>
            <td>роль</td>
            <td>название компании</td>
            <td>контакнное лицо</td>
            <td>телефон</td>
            <td>телефон2</td>
            <td>телефон3</td>
        </tr>
        {% for client in clients%}

        <tr class="client__item">
            <td>{{client.owner_manager__username}}</td>
            <td>{% if client.role == 'P'%}покупатель{% else %} поставщик {% endif %}</td>
            <td> <a href="{% url 'detail_client' client.id %}" class="table__link_client_name hvr-pulse-grow" title="детальная информация о клинте">{{client.name}} </a></td>
            <td> {{client.face_contact}}</td>
            <td> <a href="tel:{{client.phone}}" class="table__link">{{client.phone}}</a></td>
            <td> <a href="tel:{{client.phone2}}" class="table__link">{{client.phone2}}</a></td>
            <td> <a href="tel:{{client.phone3}}" class="table__link">{{client.phone3}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1 class="main_title">все ваши клиетны</h1>
    <table class="client__list"  cellpadding="7" cellspacing="7">
        <tr bgcolor='#b3ffe5'>
            <td>название компании</td>
            <td>контакнное лицо</td>
            <td>телефон</td>
            <td>телефон2</td>
            <td>телефон3</td>
        </tr>
        {% for client in clients%}

        <tr class="client__item">

            <td> <a href="{% url 'detail_client' client.id %}" class="table__link_client_name hvr-pulse-grow" title="детальная информация о клинте">{{client.name}} </a></td>
            <td> {{client.face_contact}}</td>
            <td> <a href="tel:{{client.phone}}" class="table__link">{{client.phone}}</a></td>
            <td> <a href="tel:{{client.phone2}}" class="table__link">{{client.phone2}}</a></td>
            <td> <a href="tel:{{client.phone3}}" class="table__link">{{client.phone3}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}



    {% else %}
    <p class="main_title">у вас нет зарегистрированных клиентов</p>
    {% endif %}


</div>


{% endblock %}