{% extends 'auth_user/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/css/product.css'%}">
{% endblock %}
{% block title%} добавить клиента {% endblock %}
{% block content %}
<div class="product">
    {% if request.user.profile.position == 'DR' or request.user.profile.position == 'MD'%}
    <span class="line"></span>
    <h1 class="main__title_18">изменить {{product.product_name}}</h1>
    <form class="product__group_form" method="post" action="#" enctype="multipart/form-data">
        {% csrf_token%}
        {{form.as_p}}
        <input type="submit" value="изменить продукт" name="product__group">
    </form>
    {% endif %}

</div>


{% endblock %}