{% extends 'auth_user/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/css/product.css'%}">
{% endblock %}
{% block title%} добавить клиента {% endblock %}
{% block content %}
<div class="product">
    <span class="line"></span>
    {% if request.user.profile.position == 'DR' or request.user.profile.position == 'MD'%}

    <div class="product_edit_block">
        <form class="product__group_form" method="post" action="#" enctype="multipart/form-data">
            <h1 class="main__title_18">изменить продукт <i>{{product.product_name}}</i></h1>
            {% csrf_token%}
            {{form.as_p}}
            <input type="submit" value="изменить продукт" name="product" class="form__btn_action">
            <p class="#">* цена указывается за бутылку(если это коробки с бутылками, например масло) или за ведро (если
            продукт это майонез в вёдрах), если товар сыпучий или розлив - укажите цену за тонну.</p>
        </form>
<!--        <form class="product__group_form" method="post" action="#" enctype="multipart/form-data">-->
<!--            <h1 class="main__title_18">спецификация груза <i>{{product.product_name}}</i></h1>-->
<!--            {% csrf_token%}-->
<!--            {{form_packing.as_p}}-->
<!--            <input type="submit" value="сохранить" name="packing" class="form__btn_action">-->
<!--            <p class="#">масса продукта указывается за коробку или ведро на поддоне, усли товар сыпучий то укажите фактический вес</p>-->
<!--        </form>-->

    </div>

    {% endif %}

</div>


{% endblock %}