{% extends 'auth_user/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/css/product.css'%}">
{% endblock %}
{% block title%} список продукции {% endblock %}
{% block content %}
<div class="product">

    <h1 class="main_title">Товары группы {{product_group_title}}</h1>
    <span class="line"></span>
    {% if request.user.profile.position == 'DR' or request.user.profile.position == 'MD'%}
    <a class="btn_add_group js_add_group" href="{% url 'add_product' product_groupe_id %}" id="product_{{group.id}}">добавить
        товар</a>

    {% if products %}
    <ul class="product__group_list">
        {% for product in products %}
        <li class="product__group_item">
            <div class="product__group_item_link">
                <p class="product__name"><b>наименование</b> : {{product.product_name}}</p>
                <p class="product_article"><b>артикул</b> : {{product.article}}</p>

                <p class="product_article">
                    {% if product.product_type == 'T' %}
                        <b>цена за бутылку или ведро</b>
                    {% elif product.product_type == 'W'%}
                        <b>цена за один килограм</b>
                    {% elif product.product_type == 'S'%}
                        <b>цена за одну тонну</b>
                    {% else %}
                        <b style="color: red;">ВНИМАНИЕ НЕ УКАЗАН ТИП ТАРЫ</b>
                    {% endif%}
                    : {{product.price}} руб.</p>

                <p class="packing__error"></p>
                <ul class="product__document_list">
                    {% if product.packing %}
                    <li class="product__document_item">
                        <a href="#"
                           class="item__doc_link green js_packing_edit" title="спецификация груза"
                           data-value="{{product.packing}}">СГ</a>
                    </li>
                    {% else %}
                    <li class="product__document_item">
                        <a href="#"
                           class="item__doc_link red js_packing_create" title="спецификация груза отсутствует"
                           data-value="{{product.id}}">СГ</a>
                    </li>
                    {% endif %}


                    {% if product.declaration%}
                    <li class="product__document_item">

                        {% if product.declaration|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.declaration}}" target="_blank"
                           class="item__doc_link blue_light" title="декларация">ДК</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.declaration}}"
                           class="item__doc_link blue_light" target="_blank" title="декларация">ДК</a>
                        {% endif%}

                    </li>
                    {% endif%}
                    {% if product.protocol %}
                    <li class="product__document_item">

                        {% if product.protocol|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.protocol}}" target="_blank"
                           class="item__doc_link green_light" title="протокол">ПР</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.protocol}}"
                           class="item__doc_link green_light" target="_blank" title="протокол">ПР</a>
                        {% endif %}

                    </li>
                    {% endif %}
                    {% if product.specification %}
                    <li class="product__document_item">
                        {% if product.specification|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.specification}}" target="_blank"
                           class="item__doc_link orange_light" title="спецификация продукта">СП</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.specification}}"
                           class="item__doc_link orange_light" target="_blank" title="спецификация продукта">СП</a>
                        {% endif%}
                    </li>
                    {% endif %}

                    {% if product.quality_certificate %}
                    <li class="product__document_item">
                        {% if product.quality_certificate|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.quality_certificate}}" target="_blank"
                           class="item__doc_link yellow" title="сертификат качества">СК</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.quality_certificate}}"
                           class="item__doc_link yellow" target="_blank" title="сертификат качества">СК</a>
                        {% endif%}
                    </li>
                    {% endif %}

                </ul>
            </div>
            <a class="product__group_edit js_edit_product" href="{% url 'edit_product' product.id %}"
               data-value="{{product.id}}">
                <img src="{% static 'product/img/pen.svg'%}" class="product__group_img" alt="карандаш"
                     title="Редактировать продукт"/>
            </a>
            <a class="product__group_delete js_delete_product" href="#" data-value="{{product.id}}">
                <img src="{% static 'product/img/cart.svg'%}" class="product__group_img" alt="корзина"
                     title="Удалить продукт"/>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="popup_delete_product group_delete_red">
        <p class="popup__title dalete_red_text">удалить товар ?</p>
        <p id="name_group"></p>
        <div class="group__btn_delete_list">
            <a href="#" class="btn_del" id="popup__btn_product_delete_yes">да</a>
            <a href="#" class="btn_del" id="popup__btn_product_delete_no">нет</a>

        </div>
        <p class="popup_erorrs"></p>
    </div>
    {% endif %}
    {% else%}
    {% if products %}
    <ul class="product__group_list">
        {% for product in products %}
        <li class="product__group_item">
            <div class="product__group_item_link">
                <p class="product__name"><b>наименование</b> : {{product.product_name}}</p>
                <p class="product_article"><b>артикул</b> : {{product.article}}</p>
                <p class="product_article">
                    {% if product.product_type == 'T' %}
                        <b>цена за бутылку или ведро</b>
                    {% elif product.product_type == 'W'%}
                        <b>цена за один килограм</b>
                    {% elif product.product_type == 'S'%}
                        <b>цена за одну тонну</b>
                    {% else %}
                        <b style="color: red;">ВНИМАНИЕ НЕ УКАЗАН ТИП ТАРЫ</b>
                    {% endif%}
                    : {{product.price}} руб.</p>
                <p class="packing__error"></p>
                <ul class="product__document_list">
                    {% if product.packing %}
                    <li class="product__document_item">
                        <a href="#"
                           class="item__doc_link green js_packing_edit" title="спецификация груза"
                           data-value="{{product.packing}}">СГ</a>
                    </li>
                    {% else %}
                    <li class="product__document_item">
                        <a href="#"
                           class="item__doc_link red js_packing_create" title="спецификация груза отсутствует"
                           data-value="{{product.id}}">СГ</a>
                    </li>
                    {% endif %}
                    {% if product.declaration%}
                    <li class="product__document_item">

                        {% if product.declaration|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.declaration}}" target="_blank"
                           class="item__doc_link blue_light" title="декларация">ДК</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.declaration}}"
                           class="item__doc_link blue_light" target="_blank" title="декларация">ДК</a>
                        {% endif%}

                    </li>
                    {% endif%}
                    {% if product.protocol %}
                    <li class="product__document_item">

                        {% if product.protocol|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.protocol}}" target="_blank"
                           class="item__doc_link green_light" title="протокол">ПР</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.protocol}}"
                           class="item__doc_link green_light" target="_blank" title="протокол">ПР</a>
                        {% endif %}

                    </li>
                    {% endif %}
                    {% if product.specification %}
                    <li class="product__document_item">
                        {% if product.specification|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.specification}}" target="_blank"
                           class="item__doc_link orange_light" title="спецификация продукта">СП</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.specification}}"
                           class="item__doc_link orange_light" target="_blank" title="спецификация продукта">СП</a>
                        {% endif%}
                    </li>
                    {% endif %}

                    {% if product.quality_certificate %}
                    <li class="product__document_item">
                        {% if product.quality_certificate|slice:"-3:" == "pdf" %}
                        <a href="{% get_media_prefix %}{{product.quality_certificate}}" target="_blank"
                           class="item__doc_link yellow" title="сертификат качества">СК</a>
                        {% else %}
                        <a href="{% get_media_prefix %}{{product.quality_certificate}}"
                           class="item__doc_link yellow" target="_blank" title="сертификат качества">СК</a>
                        {% endif%}
                    </li>
                    {% endif %}

                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    <div class="popup_packing_edit packing_edit">
        <p class="packing__error"></p>
    </div>

</div>
{% endblock %}
{% block js %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript" src="{% static 'product/js/product.js' %}"></script>
{% endblock %}