.popup_delete_group,
.popup_delete_product,
.popup_edit_group{
    width: 300px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background: var(--white);
}

.product{
    width: 100%;
    height: 100vh;
    position: relative;
}
.popup__title{
    color: var(--white);
    background: var(--blue);
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 20px;
}

.popup_erorrs{
    color: var(--red);

}

.group_delete_red{
    border: 2px solid var(--red);
}
.dalete_red_text{
    background: var(--red);
    margin-bottom: 0px;
}

.group__btn_delete_list{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.form-group{
    padding-bottom: 10px;
}

.btn_del{
    width: 40px;
    height: 30px;
    border: 2px solid var(--red);
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
}

#name_group{
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}



.product__group_list{
    display: flex;

    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product__group_item{
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

.product__group_link{
    border: 3px solid var(--blue);
    border-radius: 5px;
    width:300px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-right: 30px;
    padding-top: 6px;
}


.product__group_img{
    width: 100%;
    height: 100%;
}

.product__document_list{
    display: flex;
    flex-direction: row;
    margin: 8px 0px;

}
.product_edit_block{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.item__doc_link{

    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
}

.product__document_item:not(:last-child){
    margin-right: 10px;
}

.popup_packing_edit{
    padding: 3px 8px;
    width: 500px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background: var(--white);
}
.popup_title_text{
    text-align: center;
    margin-bottom: 4px
}

.popup_text{
    margin-bottom: 3px;

}

.packing_center{
    display: block;
    margin: 7px auto;
}

.packing_edit p {
    margin-bottom: 5px;
}

.packing_edit p label{
    display: inline-block;
    width: 270px;
}
#id_netto,
#id_brutto,
#id_quantity_box{
    width: 90px;
}
