:root{
    --blue: #0000ff;
    --white: #fff;
    --black: #000000;
    --red: #fa0505;
    --blue_light:#ace7f2 ;
    --green_light:#68f7cc ;
    --orange_light: #ffc757;
    --yellow:#ffd129 ;
    --pink: #fd7b7c;
    --green:#0bda51 ;
    --grey: #808080;
}

.green{
    background-color: var(--green);
}

.pink{
    background-color: var(--pink);
}

.blue_light{
    background-color: var(--blue_light);
}

.green_light{
    background-color: var(--green_light);
}

.orange_light{
    background-color: var(--orange_light);
}

.yellow{
    background-color: var(--yellow);
}

.red{
    background: var(--red)
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.errorlist li {
    color: red;
    font-size: 14px;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    margin-bottom: 15px;
}
.menu__link{
    height: 40px;
    width: 90px;
    border: 2px solid var(--blue);
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}

.line{
    width: 100%;
    height: 2px;
    background: var(--blue);
    display: block;
    margin-bottom: 20px;
}

.product__group_edit,
.product__group_delete{
    height: 45px;
    width: 45px;
    border: 3px solid var(--blue);
    border-radius: 5px;
}

.product__group_edit{
    margin-right: 15px;
}

.main_title{
    color: var(--blue);
    font-size: 30px;
    text-align: center;
}

.main__title_18{
    color: var(--blue);
    font-size: 18px;
    text-align: center;
}

.btn_add_group{
    border: 2px solid var(--black);
    width: 270px;
    height: 40px;
    text-align:center;
    padding-top: 5px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    color: var(--white);
    background: var(--blue);
    font-size: 20px;
}

.product__group_form p {
    margin-bottom: 5px;

}

.product__group_form p label{
    width: 150px;
    display: inline-block;
}

.product__group_item_link{
    margin-right: 30px;
    width: 430px;
    display: inline-block;
    border-bottom: 2px solid var(--blue);
    padding-bottom:3px;
    padding-left: 6px;
    border-left: 2px solid var(--blue);
}

.form__btn_action{
    border: 2px solid var(--black);
    cursor: pointer;
    height: 40px;
    text-align:center;
    padding: 5px 10px 7px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    color: var(--white);
    background: var(--blue);
    font-size: 20px;
}

.product__group_form{
    width: 45%;
    padding: 8px;
}

.red{
    background: var(--red);
}

.title_h2{
    color: var(--blue);
    text-align: center;
}